html{
  scroll-behavior: smooth;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Poppins", sans-serif;
  background:#FCFAF6;
  color:#1F1F1F;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  font-family:"Poppins", sans-serif;
  cursor:pointer;
}

img{
  max-width:100%;
  display:block;
}

ul{
  list-style:none;
}